/*Nav Bar*/
nav { /*Whole Nav bar*/
    width: 100%;
    z-index: 1000;
    position: sticky; /*fixed while taking up space*/
    top: 0;
    min-width: 350px;
  }
  div.nav{ /*Whole nav bar*/
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin: 0px;
    border: 6px solid black;
    border-bottom: 10px solid black;
  }
  .navItem{/*Menu Item*/
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 32px;
    height: 32px;
    background-color: rgb(0, 0, 0);
    transition-duration: 0.4s;
    border-right: 3px solid white;
  }
  .icon{/*Menu Icon*/
    float: left;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 36px;
    height: 36px;
    display:none;
  }
  .navItem:hover{ /*Menu Items*/
    background-color: rgb(121, 121, 121);
    color: rgb(255, 255, 255);
  }
  div.nav img { /*Logo and menu img*/
    width: 32px;
    height: 32px;
    float: left;
  }
  .navItem p{/*Writing beside image*/
    float: left;
    white-space: pre;
    height: 32px;
    margin: 0px;
  }
  #navHome{/* First Nav item */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
  }
  #navHome:hover{/*Hover on first nav item*/
    color: rgb(255, 255, 255);
    background-color: rgb(121, 121, 121);
  }
  /* Collapse menu */
  @media screen and (max-width: 1000px){
    div.nav a:not(:first-child) {display: none;}
    div.nav a.icon{
      float: right;
      display: block;
    }
    div.nav{
      border-bottom: 6px solid black;
    }
    .navItem{
      border-right: none;
    }
    /*Display vertical links*/
    div.nav.responsive {position: relative;}
    div.nav.responsive a.icon { /*Hambuger menu icon moves to the top right*/
      position: absolute;
      right: 0;
      top: 0;
    }
    div.nav.responsive a { /*Menu items go vertical*/
      float: none;
      display: block;
      text-align: left;
    }
  }
  