body{
    background-color: white;
}
header{
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    padding: 10px;
}

#headerLogo{
    margin: 10px;
    width: 50px;
    height: auto;
}
#title{
    text-align: left;
    font-size: 30px;
}
#storeInput {
    background-image: url('../../files/images/search.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    border: 3px solid grey;
    max-height: 25px;
}

#storeInput:focus {
    border: 3px solid black;
}
#storeList{
    width: 100%;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
}
.store{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 100px;
    display: grid;
    grid-template-columns: minmax(100px,1fr) 3fr minmax(150px,2fr);
    background-color: rgb(210, 210, 210);
    gap: 1rem;
    margin: 20px 0px;
}
.title{
    border-right: 3px solid black;
    padding: 10px;
}
.titleLogo{
    width: 100%;
    height: auto;
}
.titleName{
    font-size: 20px;
    margin: 0;
}
.description{
    border-right: 3px solid black;
    margin: 0;
    padding: 10px;
}
.address, .hours, .phone{
    font-size: calc(10px + 1vw);
    margin: 0;
}
.capacity{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0;
    padding: 10px;
}
.availability, .fullness{
    font-size: 30px;
    margin: 0;
}
.updateInfo{
    margin: 0;
}
.updateTime{
    color: grey;
    margin: 0;
}
@media screen and (max-width: 500px){
    header{
        grid-template-columns: 1fr 10fr;
    }
    #storeInput{
        grid-column: 1 / span 2;
    }
    .capacity{
        grid-template-columns: 1fr;
    }
}