/* CSS Document */
@import url("nav.css");
@import url("footer.css");
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Montserrat';
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: rgb(181, 235, 255);
}
a {
  text-decoration: none;
}
.var{
  display: none;
  visibility:hidden;
}